[submodule "source/max-api"]
	path = source/max-api
	url = https://github.com/Cycling74/max-api.git
[submodule "source/max-sdk"]
	path = source/max-sdk
	url = https://github.com/Cycling74/max-sdk.git
